.search-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.search-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
}

.search-button {
    padding: 8px 16px;
    background: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #fdfdfd;
    color: black;
}